body{
    margin: 0;
    color: wheat;
}
@media (max-width: 2504px){
.headbody {
    background-color: rgba(5, 5, 56, 0.849);
    height: 600px;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid greenyellow;
    height: 100px;
}
.logo img{
    margin: 20px 5px;
    width: 30px;
    border: 1px solid greenyellow;
    padding: 5px;
    height: 20px;
    border-radius: 50%;
    animation-name: imgspin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
}
@keyframes imgspin{
    0%{
        scale: 100%;
    }
    50%{
        scale: 120%;
    }
    100%{
        scale: 100%;
    }
}
.header button{
    width: 120px;
    height: 40px;
    background-color: goldenrod;
    margin: 30px 30px;
    font-size: 10px ;
    border-radius: 15px;
}
.header a{
    margin: 25px 0 5px;
    text-decoration: none;
    color: wheat;
    width: 3px;
    padding: 5px 30px;
}
.hheader{
    text-align: left;
    color: wheat;
    padding: 20px;
    font-size: 35px;
}
.hheader h3{
    color: goldenrod;
    font-size: 10px;
}
.hheader h4{
    font-size: 45px;
    font-weight: 400;
}
.hheader h2{
    color: greenyellow;
}
.hheader p{
    font-size: 20px;
}
.body{
    padding: 30px 10px 10px;
    background-color: white;
}
.body a{
    text-decoration: none;
    color: grey;
    padding: 10px;
}
.pic img{
    background-color: rgb(39, 36, 36);
    margin: 20px;
    width: 200px;
    height: 160px;
}
.body a:hover{
    background-color: rgb(196, 196, 57);
    border-radius: 10px;
    color: rgb(133, 96, 3);
}
.pictures{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin: 10px;
}
.pic1, .pic2, .pic3{
    background-color: white;
    box-sizing: border-box;
    box-shadow:10px 10px 20px gray;
    height: auto;
    border-radius: 10px;
    color: black;
    padding: 20px;
    margin: 10px;
    width: 80%;
    transition: all 0.5s ease-in-out;
}
.pic1:hover, .pic2:hover, .pic3:hover{
    box-shadow: 0px 10px 20px rgb(41, 40, 40);
    transform: scale(1.05);
    z-index: 2;
}
.pic1 img, .pic2 img, .pic3 img{
    width: 90%;
    height: 250px;
    margin: 10px auto;
}
.dbg{
    background-color: rgb(196, 196, 57);
    color: rgb(133, 96, 3)
}
.icon i{
    padding: 10px;
}
.footer{
    background-color: rgb(5, 5, 48);
    border-top: 2px solid greenyellow;
    margin: 10px;
    padding: 10px;
}
.foot1{
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 100px;
}
.foot2{
    background-color: rgb(2, 2, 60);
    box-sizing: border-box;
    box-shadow:10px 10px 10px rgb(1, 1, 37);
    display: flex;
    justify-content: space-between;
}
.follow h4{
    color: gold; 
    text-align: right;
}
.follow button{
    width: 150px;
    height: 40px;
    background-color: goldenrod;
    margin: 30px 0;
    font-size: 12px;
    border-radius: 15px;
    border-color: rgb(2, 2, 60);
}
.foot3{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(39, 36, 36);
}
.foot3 h3{
    color: gold;

}
.quick a{
    text-decoration: none;
    color: wheat;
    padding: 20px;
    margin: 10px;
}
.hand{
    display: none;
}
}

@media (max-width: 780px) {
    .headbody{
        background-color: rgba(5, 5, 56, 0.849);
        height: auto;
    }
    .header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid greenyellow;
    height: 100px;
}
.logo img{
    margin: 20px 5px;
    width: 30px;
    border: 1px solid greenyellow;
    padding: 5px;
    height: 20px;
    border-radius: 50%;
    animation-name: imgspin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
}
@keyframes imgspin{
    0%{
        scale: 100%;
    }
    50%{
        scale: 120%;
    }
    100%{
        scale: 100%;
    }
}
.header button{
    display: none;
    width: 120px;
    height: 40px;
    background-color: goldenrod;
    margin: 30px 30px;
    font-size: 10px ;
    border-radius: 15px;
}
.header a{
    display: none;
    margin: 25px 0 5px;
    text-decoration: none;
    color: wheat;
    width: 3px;
    padding: 5px 30px;
}
#sd{
    margin-left: 25px;
}
.hheader{
    text-align: center;
    color: wheat;
    padding: 50px;
    font-size: 30px;
}
.hheader h3{
    color: goldenrod;
    font-size: 10px;
}
.hheader h4{
    font-size: 45px;
    font-weight: 400;
}
.hheader h2{
    color: greenyellow;
}
.hheader p{
    font-size: 20px;
}
.hand{
    display: inline-table;
    overflow: ;
}
.body{
    padding: 30px 10px 10px;
    background-color: white;
}
.body a{
    text-decoration: none;
    color: grey;
    padding: 10px;
}
.pic img{
    display: none;
    background-color: rgb(39, 36, 36);
    margin: 20px;
    width: 200px;
    height: 160px;
}
details{
    width: 210px;
    height: auto;
    border-radius: 7px;
    margin: 14% auto;
    transition: all .3s ease-in-out;
    background-color: rgba(5, 5, 56, 0.849);
}
summary{
    text-align: right;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: white;
}
details:not([open]){
    width: 80px;
    height: 80px;
    margin: 30% auto;
    background-color: transparent;
}
.hand li{
    padding: 20px;
    color: white;
}
.body a:hover{
    background-color: rgb(196, 196, 57);
    border-radius: 10px;
    color: rgb(133, 96, 3);
}
.pictures{
    display: block;
    padding: 10px;
    margin: 10px 5px 5px;
}
.pic1, .pic2, .pic3{
    background-color: white;
    box-sizing: border-box;
    box-shadow:10px 10px 20px gray;
    height: auto;
    border-radius: 10px;
    color: black;
    padding: 20px;
    margin: 5px;
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.pic1:hover, .pic2:hover, .pic3:hover{
    box-shadow: 0px 10px 20px rgb(41, 40, 40);
    transform: scale(1.05);
    z-index: 2;
}
.pic1 img, .pic2 img, .pic3 img{
    width: 100%;
    height: 250px;
    margin: 10px auto;
}
.dbg{
    background-color: rgb(196, 196, 57);
    color: rgb(133, 96, 3)
}
.icon i{
    padding: 10px;
}
.footer{
    background-color: rgb(5, 5, 48);
    border-top: 2px solid greenyellow;
    margin: 10px;
    padding: 10px;
}
.foot1{
    display: block;
    margin: 20px 10px 100px;
}
.foot1 img{
    margin: auto;
}
.foot1 .icon{
    margin: 40px 2px 5px;
}
.foot1 .icon i{
    padding: 15px;
    margin: 10px;
}
.foot2{
    background-color: rgb(2, 2, 60);
    box-sizing: border-box;
    box-shadow:10px 10px 10px rgb(1, 1, 37);
    display: block;
    justify-content: space-between;
}
.follow h4{
    text-align: left;
}
.follow button{
    width: 150px;
    height: 40px;
    background-color: goldenrod;
    margin: 30px 0;
    font-size: 12px;
    border-radius: 15px;
    border-color: rgb(2, 2, 60);
}
.foot3{
    display: block;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(39, 36, 36);
}
.foot3 h3{
    color: gold;
}
.foot3 p{
    font-size: 15px;
}
.quick a{
    text-decoration: none;
    color: wheat;
    padding: 20px;
     padding: 20px;
    margin: 10px;
}
}